* {
	font-family:  'Hubballi', cursive;

}
 html {
 	scroll-behavior: smooth;
 }
body {
	background-color: lightblue;
	cursor: wait;
}
#loading {
	width: 20rem;
	height: 15rem;
	margin-top: 30vh;
	border-radius: 2rem;

}
#newheader {

  height: 2.5rem;
  background-color: lightskyblue;
  border-radius: 0.4rem;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes example {
  
  100% {background-color:lightblue;}
}
#myModal {
	display: none;
}
.modal {
  position: fixed; 
  z-index: 1; 
  padding-top: 40vh; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1rem solid #888;
  width: 80%;
}