* {
	font-family:  'Hubballi', cursive;
	font-size: 20px;
	box-sizing: border-box;
}
 html {
 	scroll-behavior: smooth;
 }
body {
	/*background-color: #212529;*/
	background-image: url(./images/pexels-sergej-eckhardt-2071319.jpg);
	background-size: cover;
 	background-attachment: fixed;
}
.clogo {
	height:  2rem;
	width:  2rem;
}
.nav-item {
	background-color: #424949 ;
	transition: 0.5s;
}
.nav-item:hover, #Aboutbtn:hover, .btnangle:hover, .gallerybtn, .btnproj{
	background-color: #707B7C ;
}
.translucent {
	transition: 0.5s;
	padding: 0rem !important;
}
.translucent:hover {
	background-color: #D7DBDD ;
	padding: 0.5rem !important;
	color: black;
}
.nav-link {
	color: white;
}
.navbar-nav ~ li:hover, .dropdown:hover {
	color: black !important;
}
#big-box .main-box {
	display:  inline-block;
}
.secondCol {
	width: 93%;
 	margin-left: 5%;
 	padding-left: 0;
}
.aboutheader {
	background-color: #616A6B;
}
.navbar {
	background-color: black;
}

#firstCol {
	width:  6%;
	height: 85vh;
	position: fixed;
	left:  0;
	background-color:  black;
	border-radius: 0 0 1rem 0;
	border-left-color: black;
	border-bottom-color: black;
}
.topcover {
	background-image: url(./images/wp6688406-typing-wallpapers.jpg);
	background-size: cover;
 	background-attachment: scroll;
}
#title,.carousel-indicators, .carousel-control-next-icon, .carousel-control-prev-icon,.toolheader, .section-header {
	background-color: rgba(0, 0, 0, 0.5);
}
#collapseAbout {
 	color:  #ffffff;
}
#sidebar-icon {
	height:  2.4rem;
	width:  1.8rem;
}
#sidebar-content {
	height: 50%;
}
.socialbrand, .toolbtn {
	transition: 0.5s;
}
.socialbrand:hover {
	background-color: #707B7C;
}
#secondColMain {
	width: 92% !important;
}
.infobody, .toolbtn {
	background-color: rgba(0, 0, 0, .7);
	transition: 0.5s;
	/*min-height: 60vh;*/
}
.infobody:hover, .icons:hover {
 	background-color: rgba(0, 0, 0, 1);
 	transition: 0.5s;
}
#carouselExampleIndicators {
	background-color: rgba(0, 0, 0, .5);
	width: 55% !important;
}
.carousel-image {
	width: 30rem;
	min-height: 23rem;
}
/*.mytooltip .mytooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
   Fade in tooltip - takes 1 second to go from 0% to 100% opac: 
  opacity: 0;
  transition: opacity 1s;
}

.mytooltip:hover .mytooltiptext {
  visibility: visible;
  opacity: 1;
}*/
.projimg {
	min-height: 10rem;
	width: 10rem;
	padding: 0rem;
}
#projback {
	background-image: url(./images/cardback.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
 	/*height: 25rem;*/
 	transition: 0.5s;
}
#projback2 {
	background-image: url(./images/cardback2.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
 	/*height: 25rem;*/
 	transition: 0.5s;
}
#projback3 {
	background-image: url(./images/cardback3.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
 	/*height: 25rem;*/
 	transition: 0.5s;
}
#projback4, #projback5, #projback6,.cardback, #aboutinfo {
	transition: 0.5s;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}
.icons {
	height: 80px;
	width: 80px;
	transition: 0.5s;
}
.toolbtn {
	color:  white;
}
.toolbtn:hover {
	background-color: #707B7C;
	font-size: 1.1rem;
	color:  black;
}
#gmap_canvas {
 	height: 20rem;
 	width: 100%;
 }
.contactSec {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1rem;
	color: white;
}
.contactSec:hover {
	background-color: #707B7C;
	padding: 0.5rem;
	transition: 0.1s;
	color: black;
}
.btnsubmit {
	color: black;
}
.btnsubmit:hover {
	color: white;
}
.footerbody {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
.btnAboutFull {
	background-color: rgba(0, 0, 0, 0);
	border:  none;
}

.section-header {
	color:  white;
	}

#maincardOne, #maincardTwo, #maincardThree {
	background-color: rgba(0, 0, 0, 0.5);
}









@media screen and (max-width: 560px) /*Mobile (+/-) 6inch Setting section*/
{
#carouselExampleIndicators {
	width:  100vw !important;
}
}
@media screen and (min-width: 561px) /*Mobile (+/-) 6inch Setting section*/
{
#carouselExampleIndicators {
	width:  80vw !important;
}
}
@media screen and (min-width: 769px) /*Mobile (+/-) 6inch Setting section*/
{
#carouselExampleIndicators {
	width:  60vw !important;
}
}


@media screen and (max-width: 768px) /*Mobile (+/-) 6inch Setting section*/
{

/*#carouselExampleIndicators {
	width:  80vw !important;
}*/
#projback, #projback2, #projback3, #projback4, #projback5, #projback6{

	min-height: 22rem !important;
}
.carousel-image {
	min-height:11rem !important;
}
.section-header {
	text-align: center !important;
}
#firstCol {
	display:  none;
}
.translucent{
	background-color: rgba(0, 0, 0, 0.6) !important ;
	color: white  !important;
}
}
/*@media screen and (max-width: 1024px) Mobile (+/-) 6inch Setting section
{
#firstCol {
	display:  none;
}
}
*/


@media screen and (min-width: 769px) /*Mobile (+/-) 6inch Setting section*/
{

.carousel-image {
	min-height: 11rem !important;
}
#projback, #projback2, #projback3, #projback4, #projback5, #projback6{
	min-height: 18rem !important;
}
}

@media screen and (min-width: 1024px) /*Mobile (+/-) 6inch Setting section*/
{
	.carousel-image {
	min-height: 14rem !important;
}

}


@media screen and (min-width: 1024px) /*Mobile (+/-) 6inch Setting section*/
{
#sidebar-icon {
	height:  3.5rem !important;
	width:  2.8rem  !important;
}
}

@media screen and (max-width: 991px) /*Mobile (+/-) 6inch Setting section*/
{
	.secondCol {
    display: block !important;
    width: 100vw !important;
    margin: auto !important;
	}
}





/* End of Media Screen Settings */