* {
	font-family:  'Poppins', sans-serif;
	
}
 html {
 	scroll-behavior: smooth;
 }
body {
	background-color: #FBC3BC;
}
#gmap_canvas {
 	height: 60vh;
 	width: 100%;
 }
#project,#tools, #contact {
	border-bottom: .25rem solid #F38375;
	
}
#about {
	background-color: #FBC3BC;
	color: black;
}
#landing {
	background-image: url(./images/back.png);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
}
#projimg {
	height: 250px;
	width:270px;
	padding: 1rem;

}
#projback {
	background-image: url(./images/cardback.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
}
#projback2 {
	background-image: url(./images/cardback2.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
}
#projback3 {
	background-image: url(./images/cardback3.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
}
/*#accordionExample {
	width: 50%;*/

.card {
	transition:  0.4s;
}
#translucent:hover {
	background-color: #D7DBDD;
	color: black;
	padding: 2rem;
	transition: 0.3s;
}
#aboutinfo:hover {
	padding: 2rem;
	transition: 0.3s;
}
#tool {
	background-color: #F38375;
	border: none;
}

#toolbody {
	background-color: #D7DBDD;
	color: black;
}
.btnnav {
	background-color: #EF6351;
}
#toolbtn:hover, .btnnav:hover {
	background-color: #D7DBDD;
}
#icons {
	height: 80px;
	width: 80px;
}
#translucent {
	background-color: rgba(0,0,0,.30);
	color: white;
}
#contactSec:hover {
	background-color: #D7DBDD;
	padding: 3rem;
	transition: 0.1s;
}
#carousel:hover {
	background-color: #D7DBDD;
	padding: 3rem;
	transition: 0.1s;
}
.btnproj, .headname,.footerbg, .navbar {
	background-color: #F38375;
	color: black;
}